<%- include('../partials/header') %>

<% if (user) { %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Target Area</th>
                <th>Equipment</th>
            </tr>
        </thead>
        <tbody>
            <% workouts.forEach(function(w) { %>
                <% if ( user?._id.equals(w.user) ) { %>
                    <tr>
                        <td><%= w.name %></td>
                        <td><%= w.targetArea %></td>
                        <td><%= w.equipment %></td>
                        <td><a href="/workouts/<%= w._id %>" style="color:black"><button>Details</button></a></td>
                    </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
    <tr><a href="/workouts/new" style="margin:5px"><button>New Workout</button></a></tr>
<% } else { %>
    <h3>Sample List</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Target Area</th>
                <th>Equipment</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Total Body</td>
                    <td>Full Body</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Chest and Triceps</td>
                    <td>Upper Body</td>
                    <td>Minimal</td>
                </tr>
                <tr>
                    <td>Leg Pump</td>
                    <td>Lower Body</td>
                    <td>Beginner</td>
                </tr>
        </tbody>
    </table>
<% } %>


<%- include('../partials/footer') %>