<%- include('../partials/header') %>

<section>
    <div>Target Area: <%= workout.targetArea %></div>
    <div>Equipment: <%= workout.equipment %></div>
    <% if ( user?._id.equals(workout.user) ) { %>
        <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Workout</button>
        </form>
      <% } %>
</section>

<%- include('../partials/footer') %>