<%- include('../partials/header') %>

<div id="workout-detail">
    <section>
        <div>Target Area: <%= workout.targetArea %></div>
        <div>Equipment: <%= workout.equipment %></div>
        <div>Exercise List:</div>
    </section>

    <% if (workout.exerciseList.length) { %>
        <table>
            <tbody>
                <% workout.exerciseList.forEach(function(e) { %>
                    <tr>
                        <td style="font-size:14px"><%= e.name %></td>
                        <td>
                            <% if ( user?._id.equals(workout.user) ) { %>
                                <form action="/exercises/<%= e._id %>" method="GET">
                                    <button type="submit">Details</button>
                                </form>
                            <% } %>
                        </td>
                        <td>
                            <% if ( user?._id.equals(workout.user) ) { %>
                                <form action="/workouts/<%= workout._id %>/exercises/<%= e._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Remove</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h4>No Exercises</h4>
    <% } %>  

    <form id="add-exercise-to-workout" action="/workouts/<%= workout._id %>/exercises" method="POST">
        <select name="exerciseId">
            <% let newExercises = exercises.slice(0); %>
            <%- newExercises.map(e => 
            `<option value="${e._id}">${e.name}</option>`
            ).join('') %>
        </select>
        <button type="submit">Add to Workout</button>
    </form>
    <br>
    <section>
        <% if ( user?._id.equals(workout.user) ) { %>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="/workouts/<%= workout._id%>/edit"><button>Edit Workout</button></a>
                        </td>
                        <td>
                            <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete Workout</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        <% } %>
    </section>
</div>

<%- include('../partials/footer') %>