<%- include('../partials/header') %>

<section>
    <div>Target Area: <%= exercise.targetArea %></div>
    <div>Difficulty: <%= exercise.difficulty %></div>
    <% if ( user?._id.equals(exercise.user) ) { %>
        <form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Exercise</button>
        </form>
      <% } %>
</section>

<%- include('../partials/footer') %>